body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 60px;
    color: white;
}

.brand img{
    width: 45px;
    padding: 0 6px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

li{
    margin: 10px;
}

.container{
    height: 75vh;
}

.bottom{
    background-color: black;
    padding-top: 25px;
    position: sticky;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

#myProgressBar{
    width: 70%;
    margin-bottom: 15px;
}

.icons{
    margin-bottom: 25px;
    text-align: center;
}

.icons i{
    cursor: pointer;
}